<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.tedoldi.lojvalsi" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <preference name="loglevel" value="ERROR" />
  <name>lojvalsi</name>
  <description>
    A fast, no-connection required, jbo / en dictionary
  </description>
  <author email="lojvalsi@contact.tedoldi.fr" href="http://tedoldi.fr">
    Sylvain Tedoldi
  </author>
  <content src="index.html" />
  <access origin="*" />

  <feature name="http://api.phonegap.com/1.0/device" />
  <preference name="permissions" value="none" />
  <preference name="android-minSdkVersion" value="7" />

</widget>
